setuptools
pipenv 
Django 
django-countries 
django-environ 
django-extensions 
django-rest-framework 
django-storages 
djangorestframework 
django-heroku 
Pillow 
psycopg2 
six 
stripe 
whitenoise 
django-heroku
dj-database-url
gunicorn
psycopg2-binary
wheel
python-dotenv
