{% extends "shop/base.html" %}


{% block content %}
	<h2 class="section__heading">Add a new address</h2>
	<hr>
	<form method="POST" class="form px-4">
		{% csrf_token %}
		{{ form.as_p }}
		<!-- <div class="form-group">
			<label for="title" class="text-gray">{{ form.title.label }}: </label>
			<div class="form-control w-100"> 
				{{ form.title }}
			</div>
		</div>
		
		<div class="form-group">
			 <label for="title" class="text-gray">{{ form.name.label }}: </label>
			<div class="form-control"> 
				{{ form.name }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.address.label }}: </label>
			<div class="form-control"> 
				{{ form.address }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.postal_code.label }}: </label>
			<div class="form-control"> 
				{{ form.postal_code }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.town.label }}: </label>
			<div class="form-control"> 
				{{ form.town }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.county.label }}: </label>
			<div class="form-control"> 
				{{ form.county }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.city.label }}: </label>
			<div class="form-control"> 
				{{ form.city }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.country.label }}: </label>
			<div class="form-control mb-3"> 
				{{ form.country }}
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="text-gray">{{ form.phone_no.label }}: </label>
			<div class="form-control mb-3"> 
				{{ form.phone_no }}
			</div>
		</div>  -->

		<hr> 

		<button type="submit" class="btn btn-primary mt-3 px-5">
			Submit
		</button>
	</form>
{% endblock content %}