{% load static %}

<div class="row box-container">

    <a href="{% url 'products' 'all' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img1.png' %}"  alt="">
        <h3>Suits</h3>
    </a>

    <a href="{% url 'products' 'watches' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img2.png' %}" alt="">
        <h3>Jewellery</h3>
    </a>

    <a href="{% url 'products' 'shoes' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img3.png' %}"  alt="">
        <h3>Accessories</h3>
    </a>

    <a href="{% url 'products' 'jewellery' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img4.png' %}"  alt="">
        <h3>Watches</h3>
    </a>

    <a href="{% url 'products' 'accessories' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img5.png' %}"  alt="">
        <h3>Accessories</h3>
    </a>

    <a href="{% url 'products' 'sportswear' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img6.png' %}"  alt="">
        <h3>Sportswear</h3>
    </a>

    <a href="{% url 'products' 'accessories' %}" class="box  shadow ">
        <img src="{% static 'img/products/cat_img7.png' %}"  alt="">
        <h3>Accessories</h3>
    </a>

</div>