{% extends "shop/base.html" %}
{% load static %}



{% block title %}
    My Cart
{% endblock  %}



{% block content %} 

    <h1 class="heading section__heading mb-5 ">My  shoppping <span>Cart</span></h1>

    <!-- shopping cart section starts  -->

    <section class="shopping-cart">
        <div class="box-container">
            {% if formset %}
                {{ formset.management_form }}

                {% for form in formset %}

                    <!-- template renders the product name, 
                    (excluded by the form), by accessing the model 
                    directly through instance  -->

                    <div class="box ">
                        <a href="{{  form.instance.product.get_remove_from_cart_url }}">
                            <i class="fas fa-times"></i>
                        </a> 
                        <a href="{{ form.instance.product.get_absolute_url }}">   
                            <img src="{% static 'img/products/product-1.jpg' %}" alt="">
                            {{ form.instance.product.thumbnail }}
                        </a>
                        

                        <div class="content">
                            <h3>{{ form.instance.product.name }}</h3>
                            <form method="post">
                                {% csrf_token %}
                                <!--  
                                    A requisite for formsets to work is to render 
                                    the management_form attribute in the template  
                                -->
                                <span>quantity : </span>
                                <span class="text-center">{{ form.quantity }}</span>
                            </form>
                            <div class="price">
                                Ksh {{ form.instance.product.discount_price }}
                                <span>Ksh {{ form.instance.product.price }}</span>
                            </div>
                        </div>

                    </div>

                {% endfor %}
        </div>


        <button type="submit" class="btn-lg btn  mt-3">
            Update Cart
        </button>


        <div class="cart-total">
            <h3> subtotal : <span class="text-gray">$1499.94</span> </h3>
            <h3> discount : <span>-$99.94</span> </h3>
            <h3> subtotal : <span>$1400.00</span> </h3>

            <div class="row">
                <div class="col-5">
                    <hr>
                </div>
                <div class="col text-center">To complete Order </div>
                <div class="col-5">
                    <hr>
                </div>
            </div>

            {% if erquest.user.is_authenticated %}
                <div>
                    <a href="#" class="btn">Check Out</a>
                </div>   
            {% else  %}

                <div class="row">
                    <a href="#" class="btn col">
                        Sign Up
                    </a>
                    
                    <a href="{% url 'login' %}"  class="btn col">
                        Log In
                    </a>
                </div>    
            {% endif %}
        </div>

        {% else %}
        <div class="text-center">
            <p>Your cart is empty.</p>
            <br>
            <i class="fas  fa-shopping-cart  fa-fw h4 text-gray-400" ></i>
        </div>
        {% endif %}

    </section>

    <!-- shopping cart section ends -->




{% endblock  %}