{% extends "shop/base.html" %}
{% load static %}

{% block title %} 
    {{ product.name }} | ModernMan
{% endblock %}

{% block content %}
        
    <div class="row  bg-white shadow   product-detail ">
        <div class="col-lg-6 col-md-12  product-details-img  d-flex justify-content-center align-items-center" id="imagebox justify-content-center align-items-center" style="padding: auto ; align-self: center; justify-self:center; height: 100%;">
            <img src="{% static 'img/products/product-1.jpg' %}"  class="product-img" alt="" style="">
        </div> 

        <div class="col product-details-desc p-2 ">
            <div class="mb-2 product__name-price ">
                <span class="product-name ">{{ object.name|title }}</span>
                <span class="product-price  ">
                    <span  class="text-gray-400" style="text-decoration: line-through;" >Ksh. {{ object.price }}</span>
                    <span >Ksh. {{ object.discount_price }}</span>
                </span>
            </div>

            <hr>  

            <div class="mb-2 description ">
                <p>
                    {{ object.description }} 
                </p>
            </div>

            <hr>

            <div class="product-buttons mt-1 mb-1 align-items-center justify-content-center">
                <i class="fas fa-star text-orange"></i>
                <i class="fas fa-star text-orange"></i>
                <i class="fas fa-star text-orange"></i>
                <i class="fas fa-star text-orange"></i>
                <i class="fas fa-star-half-alt text-orange"></i>
            </div>

            <hr>

            <div class="product-buttons mt-1 mb-1 align-items-center justify-content-center">
                <a href="{{ object.get_add_to_cart_url }}"  class="btn-lg btn">
                    Add to Cart <i class="fas fa-shopping-cart"></i>
                </a> 


                <a href="{{  object.get_remove_from_cart_url }}"  class="  btn-lg btn bg-danger">
                    Remove &times;
                </a> 
            </div>

            <hr>
            
        </div>


    </div>
{% endblock  %}