{% extends 'base.html' %}
{% load static %}


{% block title %}
	ModernMan | Home
{% endblock %}
 


{% block style %}
	/* hero section */

	@media(max-width: 768px){
		.hero__left {
			margin-bottom: 1rem;
		}
	}

	/* flash sale styling starts*/
		
	.arrivals .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
	gap: 2rem;
	}

	.arrivals .box-container .box {
	border-radius: .5rem;
	border: 0.2rem solid #333;
	padding: 2rem;
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	gap: 1rem;
	background: #fff;
	}

	.arrivals .box-container .box:hover .image .main-img {
	display: none;
	}

	.arrivals .box-container .box:hover .image .hover-img {
	display: inline-block;
	}

	.arrivals .box-container .box .image img {
	height: 15rem;
	-webkit-animation: fadeIn .2s linear;
			animation: fadeIn .2s linear;
	}

	.arrivals .box-container .box .image .hover-img {
	display: none;
	}

	.arrivals .box-container .box .content h3 {
	font-size: 2rem;
	color: #333;
	}

	.arrivals .box-container .box .content .price {
	padding-top: .5erm;
	font-size: 2rem;
	color: #0984e3;
	padding-bottom: .7rem;
	}

	.arrivals .box-container .box .content .price span {
	font-size: 1.5rem;
	color: #666;
	text-decoration: line-through;
	}

	.arrivals .box-container .box .content .stars i {
	font-size: 1.5rem;
	color: gold;
	}


	

	/* flash sale styling  ends */


{% endblock %}



{% block content %}
	<div class="hero row mb-5 border-bottom">
		<div class="col  hero__text d-flex flex-column justify-content-end  " style="margin: auto;">
			<h1 class="hero__title">
				<span class="section__heading">Shop in style.</span>
			</h1>

			<p class="hero__more--info text-left" style="font-size: 1.2rem; font-weight: 300; ">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolor accusamus ipsa culpa dolorem provident veniam? Libero dolores, animi quis aliquam eveniet officia quas soluta, adipisci, sunt tenetur aliquid facere!
			</p> 

			<div class="hero__buttons ">
				<button class="btn px-5">
					<a href="#section__2" class="text-decoration-none text-white">
						Shop Now <i class="fas  fa-arrow-down"></i>
					</a> 
				</button> 
			</div>

		</div>

		<div class="col-lg-5 col-md-12 col-sm-12  hero__img py-5">
			<img src="{% static 'img/products/home.png' %}">
		</div>
	</div>
 


	<section class="container category mb-5" id="section__2">
		<div class="text-center my-5">
			<h1 class="dispaly-3 fw-bold   text-center">
				Shop by Category
			</h1>
			<div class="heading-line"></div>
			<p class="lead text-centerss">Navigate Quickly thru categories</p>
		</div>

				

		<div class="row box-container">

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img1.png' %}"  alt="">
				<h3>televisions</h3>
			</a>

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img2.png' %}" alt="">
				<h3>smartphones</h3>
			</a>

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img3.png' %}"  alt="">
				<h3>headphones</h3>
			</a>

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img4.png' %}"  alt="">
				<h3>smartwatches</h3>
			</a>

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img5.png' %}"  alt="">
				<h3>games</h3>
			</a>

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img6.png' %}"  alt="">
				<h3>camera</h3>
			</a>

			<a href="#" class="box  shadow ">
				<img src="{% static 'img/products/cat_img7.png' %}"  alt="">
				<h3>speakers</h3>
			</a>

		</div>

	</section> 



	<hr>
	<section class="container-fluid logo   py-5 my-5     br-5" style=" border-radius: 5px;">
		<div class="row py-5">
			<img src="{% static 'img/logos/logo-black-main.png' %}" alt="" class="img-fluid  " style="height: 13rem ; object-fit: contain; width: 100%; "> 
		</div>
		<div class="row text-center">
			<h1 class="dispaly-3 fw-bold  ">
				ModernMan
			</h1> 
			<div class="heading-line"></div>
			<p class="lead">Style, Everyday.</p>
		</div>
	</section>

	<hr>




		
	<!-- start faqs section -->
	<section id="faqs" class="faqs">
		<div class="container mb-5">
			<div class="row text-center">
				<h1 class="dispaly-3 fw-bold text-uppercase">
					FAQ<span style="font-size: 50%;">s</span>
				</h1>
				<div class="heading-line"></div>
				<p class="lead">frequently asked questions</p>

				<!-- start accordion content -->
				<div class="accordion" id="faqsAccordionParent">
					<!-- accordion item 1 -->
					<div class="accordion-item shadow mb-3">
					  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						  How fast do you ship?
						</button>
					  </h2>
					  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  " aria-labelledby="panelsStayOpen-headingOne">
						<div class="accordion-body">
						  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptas dolorum minus, officia voluptatem earum reiciendis incidunt quidem rerum soluta amet autem, quis alias harum consequuntur nostrum, cum sit quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dignissimos nesciunt sint aut cum fugiat quod accusamus. A assumenda corrupti cum odit rem vitae nemo cupiditate voluptate maiores. Quis, eum!
						</div>
					  </div>
					</div>

					<!-- accordion item 2 -->
					<div class="accordion-item shadow mb-3">
					  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
						  What are my payment options?
						</button>
					  </h2>
					  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
						<div class="accordion-body">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, obcaecati odit! Temporibus totam debitis quaerat provident assumenda quibusdam nesciunt, delectus illo recusandae harum fugiat animi? Consequuntur ut veniam recusandae animi.

							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit, voluptatum sunt, ex magnam voluptatem, explicabo laudantium odit a ipsam et. Aliquid tenetur ducimus, dignissimos labore non perferendis harum fugiat.

						</div>
					  </div>
					</div>
					
					<!-- accordion item 3 -->
					<div class="accordion-item shadow mb-3">
					  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
						  Is shipping free?
						</button>
					  </h2>
					  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
						<div class="accordion-body">
						  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non adipisci aperiam accusantium facere dolore ex dolor perferendis mollitia quaerat facilis, cumque excepturi maiores voluptate laudantium. Nemo eaque blanditiis excepturi?

						  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, consequuntur inventore culpa natus nulla non. Corrupti quas eveniet sunt ducimus facilis, rem, quasi sint quidem perspiciatis sapiente veritatis cum magnam.
						</div>
					  </div>
					</div>

					<!-- accordion item 4 -->
					<div class="accordion-item shadow mb-3">
						<h2 class="accordion-header" id="panelsStayOpen-headingFour">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
							How can I reach you quickly?
						  </button>
						</h2>
						<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
						  <div class="accordion-body">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae aut sint accusamus error porro repellat expedita aliquam ipsa placeat harum rem libero facilis voluptatum, consequatur ratione adipisci non fuga?

							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quaerat adipisci officiis nam, qui neque sequi recusandae molestiae enim repellendus perferendis exercitationem nemo quo odio laboriosam tempora alias corrupti sapiente.

							Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, consectetur. Accusantium aspernatur vitae officiis blanditiis architecto optio inventore? Dolorem quibusdam voluptate vel amet assumenda illo molestias fugit eligendi suscipit accusamus?
						  </div>
						</div>
					</div>
				</div>
				<!-- end accordion content -->
			</div>
		</div>
	</section>
	<!--  end faqs section -->



<!-- start testimonials section -->
<section id="testimonials" class="testimonials "> 

	<div class="container  pt-5">
		<div class="text-center my-5 py-5">
			<h1 class="dispaly-3 fw-bold  text-center">
				Testimonials
			</h1>
			<div class="heading-line"></div>
			<p class="lead text-centerss">What clients are saying</p>
		</div>

		<!-- start testimonials carousel -->
		<div class="row align-items-center text-center" style="font-size: 70%;">
			<div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<!-- start carousel item 1 -->
					<div class="carousel-item ">
						<!-- start testimonial card -->
						<div class="testimonials__card">
							<p class="lh-lg text-start">
								<i class="fas fa-quote-left"></i> 
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos fugit possimus pariatur laudantium minima obcaecati eaque maiores incidunt cumque quisquam consequatur eius in sit suscipit cupiditate, veniam officiis. At! 
								<i class="fas fa-quote-right text-end"></i>

								<div class="ratings">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas  fa-star-half-stroke"></i>
								</div>
							</p>
						</div>
						<!-- end testimonial card -->

						<!-- start client picture -->
						<div class="testimonials__pic">
							<img src="assets/img/testimonials/pic-1.png" alt="" class="img-fluid">
						</div>
						<!-- end client picture -->

						<!-- start client name & role -->
						<div class="testimonials__name">
							<h3>Peter Banks</h3>
							<p class="fw-light">
								CEO & Founder
							</p>

						</div>
						<!-- end client name & role -->
					</div>
					<!-- end carousel item 1 -->

					<!-- start carousel item 2 -->
					<div class="carousel-item active">
						

						<!-- start testimonial card -->
						<div class="testimonials__card">
							<p class="lh-lg text-start">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, dolorem eum similique consectetur dolore quos optio, cumque fuga eveniet praesentium maxime quisquam in facere excepturi voluptatem earum placeat mollitia atque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, excepturi. Sint molestias doloremque eius? Aliquam rerum sapiente voluptas fugiat exercitationem vitae, debitis non sint qui autem, totam dignissimos dolore itaque!
								<i class="fas fa-quote-right"></i>

								<div class="ratings">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i> 
								</div>
							</p>
						</div>
						<!-- end testimonial card -->

						<!-- start client picture -->
						<div class="testimonials__pic">
							<img src="assets/img/testimonials/pic-2.jpg" alt="" class="img-fluid">
						</div>
						<!-- end client picture -->

						<!-- start client name & role -->
						<div class="testimonials__name">
							<h3>Stacy Casty</h3>
							<p class="fw-light">
								Google Tech Lead
							</p>

						</div>
						<!-- end client name & role -->
					</div>
					<!-- end carousel item 2 -->

					<!-- start carousel item 3 -->
					<div class="carousel-item ">
						<!-- start testimonial card -->
						<div class="testimonials__card">
							<p class="lh-lg text-start">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat, modi laboriosam praesentium libero ullam id possimus minus recusandae alias aut? Necessitatibus, corporis possimus in quidem magnam ducimus ab explicabo quis.
								<i class="fas fa-quote-right"></i>

								<div class="ratings">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</p>
						</div>
						<!-- end testimonial card -->

						<!-- start client picture -->
						<div class="testimonials__pic">
							<img src="assets/img/testimonials/pic-3.png" alt="" class="img-fluid">
						</div>
						<!-- end client picture -->

						<!-- start client name & role -->
						<div class="testimonials__name">
							<h3>Jack Lee</h3>
							<p class="fw-light">
								Apple HR
							</p>

						</div>
						<!-- end client name & role -->
					</div>
					<!-- end carousel item 3 -->

					<!-- start carousel item 4 -->
					<div class="carousel-item ">
						<!-- start testimonial card -->
						<div class="testimonials__card">
							<p class="lh-lg text-start">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatem dolores minima unde culpa aspernatur reprehenderit repellat iure maiores doloribus? Totam quis perspiciatis magnam distinctio ullam numquam expedita, aperiam cumque quidem harum cum quibusdam dolorem a reiciendis consectetur exercitationem asperiores nesciunt illo fugit minima dignissimos provident impedit corporis incidunt! Necessitatibus tempore autem sequi nisi voluptas!
								<i class="fas fa-quote-right"></i>

								<div class="ratings">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-stroke"></i>
								</div>
							</p>
						</div>
						<!-- end testimonial card -->

						<!-- start client picture -->
						<div class="testimonials__pic">
							<img src="assets/img/testimonials/pic-1.png" alt="" class="img-fluid">
						</div>
						<!-- end client picture -->

						<!-- start client name & role -->
						<div class="testimonials__name">
							<h3>John H. N.</h3>
							<p class="fw-light">
								SupaLink Team Lead
							</p>

						</div>
						<!-- end client name & role -->
					</div>
					<!-- end carousel item 4 -->
				</div>
				<button type="button" class="btn btn-outline-light" data-bs-target="#carouselTestimonials">
					<i class="fas fa-long-arrow-alt-left"></i>
				</button>

				<button type="button" class="btn btn-outline-light " data-bs-target="#carouselTestimonials"> 
					<i class="fas fa-long-arrow-alt-right"></i>
				</button>
			</div>
		</div>
		<!-- end testimonials carousel -->
	</div>


	<!-- start bottom testimonials wave -->  
	<!-- end bottom testimonials wave -->
</section> 
<!-- end testimonials section -->









{% endblock %}
				
	 