{% extends 'auth/base_auth.html' %}
{% load static %}

{% block style %}
    .alert-info{
            background: rgb(89, 146, 192);
            color: rgb(7, 37, 71);
        }

    form .alert {
            padding: 0;
            font-size: 1rem;
            padding-left: 1rem;
        }


    .names{
        justify-content: space-between;
    }

    .btn{
        background: #000;
        color: #fff;
    }

    .btn:hover{
        background: #011;
        color: rgb(255, 94, 0);
    }

    .btn-facebook, .btn-google{
            border: none; 
            border-radius: 0.2rem;
            font-size: 1rem;
            font-weight: 200;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }


    .btn:active{
        transform: scale(0.9)
    }
{% endblock %}

{% block content %} 

     <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">

                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                        style="background-image: url({% static 'img/avatars/image2.jpeg' %});">
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark">Join ModernMan</h4>
                            <p class="text-center mb-4">All fields are required</p>
                        </div>

                        <hr>


                        


                        <form class="user" 
                            method="POST" >
                            {% csrf_token %}

                            <div class="form-group row names ">
                                <div class="col-lg-5  col-sm-12  mb-2 ">
                                    {{ form.first_name }}
                                </div>

                                <div class="col-lg-5 col-sm-12  mb-2 ">
                                    {{ form.last_name }}
                                </div>
                                
                            </div>


                            <div class="form-group mb-2 email "> 
                                <input id="id_email" class="form-control" type="email" name="email" maxlength="20" placeholder="Enter a valid email..." required="">

                                
                            </div>
                            <div class="email__feedback  mt-2form-control text-center  alert ">
                            </div>


                            <div class="form-group mb-2">
                                <input type="password" name="password1" maxlength="60" minlength="8" class="form-control" placeholder="Password..." required="" id="id_password1">
                            </div>
                            <div class="password1__feedback  mt-2form-control text-center  alert ">
                            </div>


                            <div class="form-group mb-2">
                                <input type="password" name="password2" maxlength="60" minlength="8" class="form-control" placeholder="Repeat password..." required="" id="id_password2">
                            </div>
                            <div class="password2__feedback  mt-2form-control text-center  alert ">
                            </div>




                            <button type="submit" class="btn btn-submit submit__button  w-100 mb-2 ">
                                Sign Up
                            </button>

                            <div class="row mb-2">
                                <div class="col-5"> <hr> </div>
                                <div class="col text-center">OR</div>
                                <div class="col-5"> <hr> </div>
                            </div>


                            <!-- register with google -->
                            <button class="btn-block d-block btn-google w-100  mb-2" role="button">
                                <i class="fab fa-google"></i>&nbsp; Register with Google
                            </button>

                            <!-- register with facebook -->
                            <button class="btn-block  d-block btn-facebook  w-100 mb-2" role="button">
                                <i class="fab fa-facebook-f"></i>&nbsp; Register with Facebook
                            </button>

                            <div class="form-group mb-2">
                                {{ form.is_subscribed }} <span style="font-size: 1rem;  ">{{ form.is_subscribed.label }}</span>
                            </div>

                            <hr>
                                
                        </form>

                        <div class="text-center">
                            <div class="small">Already a member?<a href="#"> Log In</a> instead!</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 


{% block js %} 
    <script src="{% static 'js/signup.js' %}"></script>

    
{% endblock %} 
